<%- include('includes/header') %>

<!-- Conteúdo da página -->
<div class="container">
  <div class="row">
    <!-- Coluna do conteúdo -->
    <div class="col-lg-12">
      <h3 class="mt-3 display-4"><%= pageTitle %></h3><hr>

      <!-- Caixa de busca -->
      <div class="card my-4">
        <h5 class="card-header">Buscar Informações</h5>
        <div class="card-body">
          <form method="get" action="/users/search">
            <div class="input-group">
              <select class="form-control col-sm-3 m-1" id="field" name="field">
                <option>Selecione</option>
                <option>Nome</option>
                <option>Nome Responsável</option>
                <option>Idade</option>
                <option>Endereço</option>
                <option>Bairro</option>
                <option>Sexo</option>
                <option>Identificação</option>
              </select>
              <input type="text" class="form-control m-1" placeholder="Buscar por..." id="keyword" name="keyword">
              <span class="input-group-btn">
                <input type="submit" class="btn btn-secondary m-1" value="Pesquisar" />
              </span>
            </form>
          </div>
        </div>
      </div>
      <!-- Caixa de busca -->

      <p class="text-right"><strong>Total de registros encontrados:</strong> <%= users.length %></p>

      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="text-center">
              <th>ID</th>
              <th>NOME</th>
              <th>RESPONSÁVEL</th>
              <th>DATA DE NASCIMENTO</th>
              <th>SEXO</th>
              <th>INDENTIFICAÇÃO</th>
              <th>AÇÕES</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < users.length; i++){ %>
            <tr class="text-center">
              <td><%= users[i].id %></td>
              <td><%= users[i].nome %></td>
              <td><%= users[i].nome_responsavel %></td>
              <td><%= users[i].data_nascimento %></td>
              <td><%= users[i].sexo %></td>
              <td><%= users[i].identificacao %></td>
              <td><a href="/users/edit?user_id=<%= users[i].id %>">Detalhes</a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- Tabela de usuários -->
    </div>
  </div>
</div>

<%- include('includes/footer') %>
